<div id="modal-blob-properties" class="modal" >
    {{ax-modal-navbar modalTitle="Blob Details" tab1="Properties" tab2="SAS" target=this}}
    <div class="modal-content">
        {{#if showProperties}}
        <table class="striped properties">
            <thead>
                
            </thead>
            <tr>
                <th>Name:</th>
                <th>{{blob.name}}</th>
            </tr>
            <tr>
                <th>Last Modified:</th>
                <th>{{moment-format blob.lastModified}}</th>
            </tr>
            <tr>
                <td >Size:</td>
                <td >{{prettySize}} ({{blob.size}} bytes)</td>
            </tr>
            <tr>
                <td >Blob Type:</td>
                <td>{{blob.blobType}}</td>
            </tr>
            <tr>
                <td >Lease Status:</td>
                <td >{{blob.leaseStatus}}</td>
            </tr>
            <tr>
                <td >Lease State:</td>
                <td>{{blob.leaseState}}</td>
            </tr>
            {{#if blob.leaseID}}
                <tr>
                    <td >Lease State:</td>
                    <td>{{blob.leaseState}}</td>
                </tr>
            {{/if}}
            {{#if blob.etag}}
                <tr>
                    <td >ETag:</td>
                    <td>{{blob.etag}}</td>
                </tr>
            {{/if}}
            <tr>
                <td >Content MD5:</td>
                <td>{{input value=blob.contentMd5 disabled=isLocked}}</td>
            </tr>
            <tr>
                <td >Content Language:</td>
                <td>{{input value=blob.contentLanguage disabled=isLocked}}</td>
            </tr>
            <tr>
                <td >Content Disposition:</td>
                <td>{{input value=blob.contentDisposition disabled=isLocked}}</td>
            </tr>
        </table>
        {{else}}
            <div class="col s11">
                {{input value=SAS.sas placeholder="Shared Access Signature"}}
                {{input value=SAS.url placeholder="Sharing Link"}}
                <label class="active" for="expiration-seconds">Expiration Seconds</label>
                {{input name="expiration-seconds" value=sasExpiration}}
                {{view "select" value=selectedSASOption content=SASOptions}}
            </div>
            <a {{action "generateSAS"}} class="waves-effect waves-light btn">Generate SAS</a>
        {{/if}}
    </div>
    <div class="modal-footer">
        <a {{action "discardUnsavedChanges"}} class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        {{#if showUpdateButton}}
            <a {{action "setProperties"}} class=" modal-action modal-close waves-effect waves-green btn-flat">Update</a>
        {{/if}}
    </div>
    <!--<div class="modal-footer">
        <a {{action 'uploadBlobData' modalFileUploadPath modalDefaultUploadPath}} class=" modal-action modal-close waves-effect waves-green btn-flat">Upload</a>
    </div>-->
</div>