{{!-- <div class="collection" {{action 'change' on='change'}}>
  {{#each content key="@index" as |item|}}
    <option value="{{item}}" active={{is-equal item selectedValue}}>
      {{allowedOriginsString}}
    </option>
  {{/each}}
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}
</div> --}}
