<div class="collection collectionContainer" {{action 'change' on='change'}}>
  {{#each content key="@index" as |item|}}
    <a {{action 'select' item}} class="collection-item {{if (is-equal item selectedValue) 'active'}}" >
      {{#each item.AllowedOrigins as |origin|}}
        {{origin.Value}};
      {{/each}}
    </a>
  {{/each}}
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}
</div>
