<div class="preview">
    <div class="content">
        {{#if typeVideo}}
                <video src={{previewLink}} type={{type}} id="previewMedia" height="125" class="materialboxed" controls autoplay name="media"> 
                </video>
        {{/if}}
        {{#if typeAudio}}
                <audio src={{previewLink}} type={{type}} id="previewMedia" height="110" class="materialboxed" controls autoplay name="media"> 
                </audio>
        {{/if}}
        {{#if typeImage}}
                <img class="materialboxed" src={{previewLink}} />
        {{/if}}
    </div>
</div>