<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <span class="logo left">
                <i class="mdi-file-cloud-queue"></i> 
            </span>
            <ul class="left">
                <li>{{activeConnection}}</li>
            </ul>
            <ul class="right actions">
                <li {{action "refreshBlobs"}}><i class="mdi-navigation-refresh"></i></li>
                <li {{action "uploadBlob"}}><i class="mdi-file-file-upload"></i></li>
                <li {{action "downloadBlobs"}}><i class="mdi-file-file-download"></i></li>
                <li {{action "openAboutModal"}}><i class="mdi-action-info"></i></li>
            </ul>
        </div>
    </nav>
</div>