<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <span class="logo left" {{action "goHome"}}>
                {{unbound fa-icon "windows"}}
            </span>
            <ul class="left connectionName">
                <li>{{activeConnection}}</li>
            </ul>
            <ul class="right actions">
                <li {{action "openModal" "#modal-addcontainer"}}>{{unbound fa-icon "plus-square"}}</li>
                <li {{action "openModal" "#modal-deletecontainer"}}>{{unbound fa-icon "minus-square"}}</li>
                <li {{action "deleteBlobs"}}>{{unbound fa-icon "trash-o"}}</li>
                <li {{action "refreshBlobs"}}>{{unbound fa-icon "refresh"}}</li>
                <li {{action "uploadBlob"}}>{{unbound fa-icon "upload"}}</li>
                <li {{action "downloadBlobs"}}>{{unbound fa-icon "download"}}</li>
                <li {{action "openAboutModal"}}>{{unbound fa-icon "info-circle"}}</li>
            </ul>
        </div>
    </nav>
</div>
