<li class={{notification.type}} style={{notification.progressStyle}}>
    <span>
        {{#if notification.isRunning}}
            <i class="mdi-av-loop"></i>
        {{else}}
            {{#if notification.isErroredOut}}
                <i class="mdi-action-report-problem"></i>
            {{else}}
                <i class="mdi-action-done"></i>
            {{/if}}
        {{/if}}
    </span>
    <span>
        {{notification.text}}
    </span>
    <span class="dismiss">
        {{#if notification.status}}
        {{else}}
            <i class="mdi-content-clear" {{action "removeNotification" notification target="controllers.notifications"}}></i>
        {{/if}}
    </span>
    <span class="timestamp">
        {{ago notification.timestamp}}
    </span>
</li>