{{partial "navbar"}}
{{partial "modals/upload"}}
{{partial "modals/delete"}}
{{partial "modals/addcontainer"}}
{{partial "modals/deletecontainer"}}
{{render "modals/blob-properties" selectedBlob controller='blob'}}

<div class="explorer-container">
    <div class="folder">
        <div class="search">
            {{input placeholder="Search Containers" value=searchQuery}}
            <div {{bind-attr class="searchSpinnerDisplay:visible:hidden :preloader-wrapper :small :active :spinner"}}>
                {{ax-spinner}}
            </div>
        </div>
        <div class="container">
            <ul>
                {{#each container in containers}}
                    {{#if (compare-containers container activeContainer)}}
                        <li class="selected-container" {{action "switchActiveContainer" container.id}}>
                            <i class="mdi-file-folder-open"></i> {{container.name}}
                        </li>
                    {{else}}
                        <li {{action "switchActiveContainer" container.id}}>
                            <i class="mdi-file-folder-open"></i> {{container.name}}
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
        {{ax-preview selectedBlob=selectedBlob}}
    </div>
    <div class="files">
        <div class="container">
            {{#if activeContainer}}
                <ul class="breadcrumb">
                    {{#each path in pathSegments }}
                        <li {{action "changeDirectory" path}}>{{path.name}}</li>
                    {{/each}}
                </ul>
            {{/if}}
            <div class="tableContainer">
                <table class="striped">
                    <thead>
                        <tr>
                            <th class="action-field">
                                {{input type="checkbox" id="selectAllCheckbox" checked=allBlobsCheckboxSelected}}
                                <label for="selectAllCheckbox"></label>
                            </th>
                            <th data-field="name" {{action "changeBlobsSorting" "name"}}>Name</th>
                            <th data-field="lastmodified" {{action "changeBlobsSorting" "lastModified"}}>Last Modified</th>
                            <th data-field="size" {{action "changeBlobsSorting" "size"}}>Size</th>
                            <th data-field="type" {{action "changeBlobsSorting" "type"}}>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each dir in subDirectories}}
                            <tr>
                                <td class="action-field">
                                    {{input type="checkbox" id=dir.name checked=dir.selected}}
                                    <label for={{dir.name}}></label>
                                </td>
                                <td {{action "changeSubDirectory" dir}}><i class="mdi-file-folder-open"></i> {{blob-display-path dir.name currentPath}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {{/each}}
                        {{#each blob in blobsSorted itemController="blob"}}
                            <tr {{bind-attr class="blob.selected:selected"}} {{action "selectBlob" blob.model on="contextMenu"}}>
                                <td>
                                    {{input type="checkbox" id=blob.model.id checked=blob.model.selected}}
                                    <label for={{blob.model.id}}></label>
                                </td>
                                {{#if blob.isLocked}}
                                    <td {{action "selectBlob" blob.model}}>
                                        <i class="mdi-action-lock-outline"></i> {{blob-display-path blob.model.id currentPath}}
                                    </td>
                                {{else}}
                                    <td {{action "selectBlob" blob.model}} data-context="blob">
                                        {{blob-display-path blob.model.id currentPath}}
                                    </td>
                                {{/if}}
                                <td {{action "selectBlob" blob.model}} data-context="blob" title={{blob.model.lastModified}}>
                                    {{ago blob.model.lastModified}}
                                </td>
                                <td {{action "selectBlob" blob.model}} data-context="blob">
                                    {{blob.prettySize}}
                                </td>
                                <td {{action "selectBlob" blob.model}} data-context="blob" class="type" title={{blob.model.type}}>
                                    <div>{{blob.model.type}}</div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{!-- Hidden elements for nw.js file dialogs --}}
            <input id="nwSaveInput" type="file" nwsaveas class="hidden" />
            <input id="nwSaveDirectory" type="file" nwdirectory class="hidden" />
            <input id="nwUploadFile" type="file" class="hidden" multiple/>
        </div>
    </div>
    {{partial "notifications"}}
</div>
