{{partial "navbar"}}
{{partial "modals/upload"}}
{{partial "modals/delete"}}
<div class="explorer-container">
    <div class="folder">
        <div class="search">
            {{input placeholder="Search Containers" value=searchQuery}}
            <div {{bind-attr class="searchSpinnerDisplay:visible:hidden :preloader-wrapper :small :active :spinner"}}>
                {{ax-spinner}}
            </div>
        </div>
        <div class="container">
            <ul>
                {{#each container in containers}}
                    {{#if (compare-containers container activeContainer)}}
                        <li class="selected-container" {{action "switchActiveContainer" container.id}}>
                            <i class="mdi-file-folder-open"></i> {{container.name}}
                        </li>
                    {{else}}
                        <li {{action "switchActiveContainer" container.id}}>
                            <i class="mdi-file-folder-open"></i> {{container.name}}
                        </li>
                    {{/if}}
                {{/each}}
            </ul>
            <div {{bind-attr class="newContainerEntryDisplay:visible:hidden"}}>
                {{input placeholder="New Container" value=newContainerName action="createContainer" on="enter"}}
            </div>
            <a {{action "showNewContainer"}} href="" class="btn-floating btn-small waves-effect waves-light"><i class="mdi-content-add"></i></a>
        </div>
        {{ax-preview selectedBlob=selectedBlob}}
    </div>
    <div class="files">
        <div class="container">
            {{#if activeContainer}}
                <ul class="breadcrumb">
                    {{#each path in pathSegments }}
                        <li {{action "changeDirectory" path}}>{{path.name}}</li>
                    {{/each}}
                </ul>
            {{/if}}
            <div class="tableContainer">
                <table class="striped">
                    <thead>
                        <tr>
                            <th class="action-field" {{action "selectAllBlobs"}}>Action</th>
                            <th data-field="id">Name</th>
                            <th data-field="name">Last Modified</th>
                            <th data-field="price">Size</th>
                            <th data-field="price">Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each dir in subDirectories}}
                            <tr {{action "changeSubDirectory" dir}}>
                                <td class="action-field">
                                    <i class="mdi-file-folder-open"></i>
                                </td>
                                <td>{{blob-display-path dir.name currentPath}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {{/each}}
                        {{#each blob in blobs itemController="blob"}}
                            <tr {{bind-attr class="blob.selected:selected"}}>
                                <td>
                                    {{input type="checkbox" id=blob.model.name checked=blob.model.selected}}
                                    <label for={{blob.model.name}}></label>
                                </td>
                                <td {{action "selectBlob" blob.model}}>{{blob-display-path blob.model.name currentPath}}</td>
                                <td {{action "selectBlob" blob.model}}>{{blob.model.lastModified}}</td>
                                <td {{action "selectBlob" blob.model}}>{{blob.prettySize}}</td>
                                <td {{action "selectBlob" blob.model}}>{{blob.model.type}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{!-- Hidden elements for nw.js file dialogs --}}
            <input id="nwSaveInput" type="file" nwdirectory class="hidden" />
            <input id="nwUploadFile" type="file" class="hidden" multiple/>
        </div>
    </div>
    {{partial "notifications"}}
</div>
