<div class="container">
    <div class="row">
        <div class="col s10 m8 offset-m2 welcome-offset">
            <div class="card card-account">
                <div class="card-image">
                    <img src="images/clouds-1.jpg">
                </div>
                <div class="card-content">
                    {{#liquid-if loading}}
                        <div {{bind-attr class="loading"}}></div>
                        <div class="welcome-loading">
                            {{ax-spinner}}
                        </div>
                    {{/liquid-if}}
                    <span class="card-title grey-text text-darken-4">Storage Account</span>
                    <div class="row">
                        {{#liquid-if addNewUi}}
                            <div class="input-field col s12">
                                <i class="mdi-action-bookmark-outline prefix"></i>
                                {{input value=account_name id="account_name" type="text" class="validate"}}
                                <label for="account_name">Storage Account Name</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="mdi-communication-phone prefix"></i>
                                {{input value=account_key id="account_key" type="text" class="validate"}}
                                <label for="account_key">Storage Account Key</label>
                            </div>
                            <div class="col s12">
                                <br />
                                <a {{action "test"}} class="waves-effect waves-light btn center"><i class="mdi-action-settings-remote left"></i>Test</a>
                                <a {{action "addNew"}} class="waves-effect waves-light btn center"><i class="mdi-content-add-circle left"></i>Save & Open</a>
                            </div>
                        {{else if editUi}}
                            <div class="col s11">
                                {{view "select" value=selectedEditAccount content=model optionValuePath="content.id" optionLabelPath="content.name"}}
                            </div>
                            <div class="col s1 edit">
                                <i {{action "delete"}} class="mdi-action-delete"></i>
                            </div>
                            <div id="editAccountName" class="input-field col s12">
                                <i class="mdi-action-bookmark-outline prefix"></i>
                                {{input value=editAccountName id="edit_account_name" type="text" class="validate"}}
                                <label for="account_name" class="active">Storage Account Name</label>
                            </div>
                            <div id="editAccountKey" class="input-field col s12">
                                <i class="mdi-communication-phone prefix"></i>
                                {{input value=editAccountKey id="edit_account_key" type="text" class="validate"}}
                                <label for="account_key" class="active">Storage Account Key</label>
                            </div>
                            <div class="col s12">
                                <a {{action "toggleEdit"}} class="waves-effect waves-light btn"><i class="mdi-navigation-cancel left"></i>Cancel</a>
                                <a {{action "edit"}} id="editSave" class="waves-effect waves-light btn"><i class="mdi-content-save left"></i>Save</a>
                            </div>
                        {{else}}
                            <div class="col s11">
                                {{view "select" value=selectedAccount content=model optionValuePath="content.id" optionLabelPath="content.name"}}
                            </div>
                            <div class="col s1 edit">
                                <i {{action "toggleEdit"}} class="mdi-content-create"></i>
                            </div>
                            <div class="col s12">
                                <a {{action "toggleAddNew"}} {{bind-attr disabed=loading}} class="waves-effect waves-light btn"><i class="mdi-content-add-circle left"></i>Add</a>
                                <a {{action "connect"}} {{bind-attr disabed=loading}} class="waves-effect waves-light btn"><i class="mdi-content-save left"></i>Connect</a>
                            </div>
                        {{/liquid-if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{partial "modals/testing"}}