<div class="container welcome">
    <div class="card card-account">
        <div class="card-image">
            <img src="images/clouds-1.png">
        </div>
        <div class="card-content">
            {{#if loading}}
                <div {{bind-attr class="loading"}}></div>
                <div class="welcome-loading">
                    <div class="preloader-wrapper big active">
                        {{ax-spinner}}
                    </div>
                </div>
            {{/if}}
            <span class="card-title grey-text text-darken-4">Storage Account</span>
            <div class="row">
                {{#liquid-if addNewUi}}
                    <div class="input-field col s12">
                        <i class="fa fa-server prefix"></i>
                        {{input value=account_name id="account_name" type="text" class="validate"}}
                        <label for="account_name">Storage Account Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fa fa-key prefix"></i>
                        {{input value=account_key id="account_key" type="text" class="validate"}}
                        <label for="account_key">Storage Account Key</label>
                    </div>
                    <div class="input-field selection col s12">
                        <i class="fa fa-cloud prefix"></i>
                        {{ax-select name="account_dnsSuffix" id="account_dnsSuffix" content=dnsSuffixContent value=account_dnsSuffix class="selection"}}
                        <label for="account_dnsSuffix" class="active">DNS Suffix</label>
                    </div>
                    <div class="col s12">
                        <br />
                        <a {{action "toggleAddNew"}} class="waves-effect waves-light btn"><i class="mdi-navigation-cancel left"></i>Cancel</a>
                        <a {{action "addNew"}} class="waves-effect waves-light btn center"><i class="mdi-action-launch left"></i>Save</a>
                    </div>
                {{else if editUi}}
                    <div class="col s11">
                        {{view "select" value=selectedEditAccount content=model optionValuePath="content.id" optionLabelPath="content.name"}}
                    </div>
                    <div class="col s1 edit">
                        <i {{action "delete"}} class="fa fa-trash-o"></i>
                    </div>
                    <div id="editAccountName" class="input-field col s12">
                        <i class="fa fa-server prefix"></i>
                        <div class="displayOnly">{{editAccountName}}</div>
                        <label for="account_name" class="active">Storage Account Name</label>
                    </div>
                    <div id="editAccountKey" class="input-field col s12">
                        <i class="fa fa-key prefix"></i>
                        {{input value=editAccountKey id="edit_account_key" type="text" class="validate"}}
                        <label for="account_key" class="active">Storage Account Key</label>
                    </div>
                    <div id="editAccountDnsSuffix" class="input-field col s12">
                        <i class="fa fa-cloud prefix"></i>
                        {{ax-select name="edit_account_dnsSuffix" id="edit_account_dnsSuffix" content=dnsSuffixContent value=editAccountDnsSuffix class="selection"}}
                        <label for="account_dnsSuffix" class="active">DNS Suffix</label>
                    </div>
                    <div class="col s12">
                        <a {{action "toggleEdit"}} class="waves-effect waves-light btn"><i class="mdi-navigation-cancel left"></i>Cancel</a>
                        <a {{action "edit"}} class="waves-effect waves-light btn"><i class="mdi-content-save left editSaveButton"></i>Save</a>
                    </div>
                {{else}}
                    <div class="col s11">
                        {{view "select" value=selectedAccount content=model optionValuePath="content.id" optionLabelPath="content.name"}}
                    </div>
                    <div class="col s1 edit">
                        <i {{action "toggleEdit"}} class="mdi-content-create editButton"></i>
                    </div>
                    <div class="col s12">
                        <a {{action "toggleAddNew"}} {{bind-attr disabed=loading}} class="waves-effect waves-light btn"><i class="mdi-content-add-circle left"></i>Add</a>
                        <a {{action "connect"}} {{bind-attr disabed=loading}} class="waves-effect waves-light btn"><i class="mdi-action-launch left"></i>Connect</a>
                    </div>
                {{/liquid-if}}
            </div>
        </div>
    </div>
</div>
